<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Edit Expense</h1>

        <form action="/edit/<%= expense.id %>" method="post">
            <input
                type="text"
                name="description"
                placeholder="Description"
                value="<%= expense.description %>"
                required
            />
            <input type="number" name="amount" placeholder="Amount" value="<%= expense.amount %>" 
            required min="0" />
            <select name="category">
                <option value="">Select Category</option>
                <% categories.forEach((category) => { %>
                    <option value="<%= category %>" <%= category === expense.category ? 'selected' : '' %>><%= category %></option>
                    <% }) %>
            </select>
            <input type="date" name="date" value="<%= expense.date %>" required />
            <button type="submit">Add Expense</button>
        </form>
    </body>
</html>
